:root {
  background-color: #eae6e5;
  color: #222320;
  font-family: Georgia, serif;
  font-size: 1.1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem;
}

article h1 {
  font-size: 3em;
  margin-top: 0;
}

article p {
  line-height: 1.8;
  font-size: 1.2em;
}

article img {
  width: 100%;
}
